html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet",href="/styles/account/styleLogin.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="stylesheet", href="/fontawesome/fontawesome-pro-5.12.0-web/css/all.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap")
    body.bg-light
        .header.w-100.d-flex.bg-dark.text-white.p-4
            span.ml-2 Milk Tea Store
        .login.d-flex
            form(action="/account/register" method="POST")
                .form-row
                    .form-group.col-md-6
                        label(for="username") Tên tài khoản
                        input.form-control.pl-4#username(type="text" placeholder="Tên tài khoản" name="Username" autocomplete="off" required value=value?value.Username:"")
                        i.fas.fa-user-alt.icon1
                        if(error)
                            each err in error
                                .alert.alert-danger=err
                    .form-group.col-md-6
                        label(for="password") Mật khẩu
                        input.form-control.pl-4#password(type="password" placeholder="Mật khẩu" name="Password" autocomplete="off" required value=value?value.Password:"")
                        i.fas.fa-key.icon2
                .form-group
                    label(for="HoTen") Họ tên
                    input.form-control.w-100#HoTen(type="text" placeholder="Họ tên" name="HoTen" autocomplete="off" required value=value?value.HoTen:"")
                .form-group
                    label(for="Email") Email
                    input.form-control.w-100#Email(type="Email" placeholder="Email" name="Email" autocomplete="off" required value=value?value.Email:"")
                .form-row
                    .form-group.col-md-6
                        label(for="NgaySinh") Ngày sinh
                        input.form-control#NgaySinh(type="date" name="NgaySinh" required value=value?value.NgaySinh:"")
                    .form-group.col-md-6
                        label(for="Sdt") Số điện thoại
                        input.form-control#Sdt(type="number" name="Sdt" required value=value?value.Sdt:"")
                .button.d-flex
                    button.btn(type="submit") Tạo tài khoản
        .footer
            .container.pb-2
                .row.w-100
                    .col-md-3
                        h2 Milk Tea Store
                    .col-md-3
                        h3 About
                        .mt-2
                            p Về chúng tôi
                            p Hạt cà phêdiv
                            p Blog
                            p Cơ hội nghề nghiệp
                            p Cửa hàng
                    .col-md-3
                        h3 ALWAYS-ON SUPPORT
                        .mt-2
                            p Delivery 1800 6936 (07:00-21:00)
                            p Support 02871 087 088 (07:00-21:00)
                        h3.mt-2 ADDRESS
                        .mt-2
                            p 62 Tran Quang Khai, Tan Dinh, Quan 1 Ho Chi Minh, Vietnam
                            p 02871 087 088
                            p hi@abcshop.vn
                    .col-md-3
                        h3 DELIVERY
                        .mt-2
                            p Shipping methods
                            p Payment
                            p Cash voucher
                            p Return
                            p Exchange
                .mt-3(style="border-bottom:1px solid white;width:100%")
                .row.pt-2
                    .col-md-6 Copyright &copy 2020 The MilkTea House. All rights reserved.
                    .col-md-6 Privacy Policy | Terms of Use
