extends ../layout/layoutCustomer.pug
block content
    style
        include ../../public/styles/order/styleCart.css
    .ml-5.mr-5
        .listCategory
            ul
                each c in category
                    li
                        a(href="#loai"+c._id)=c.name
        .order.bg-white.p-3
            .div-cart
                a(href="")
                    button.w-100.btn-cart ĐẶT HÀNG
            .cart
                .list-product-cart
                    each cart in listCart
                        each p in cart.products
                            .d-flex.div-sp(id="")
                                .sl.rounded-circle=p.amount
                                .inf.ml-3
                                    span.name=p.name
                                    br
                                    span.kichthuoc=p.size.name
                                .gia(id="")
                                    span=p.sum
            hr
            .super-sum.d-flex
                span Tổng cộng
                p.final-sum
        .main
            form(action="")
                i.fal.fa-search
                input.pl-5.w-100(type="text" name="search" placeholder="Tìm kiếm sản phẩm")
            .main-item
                each item in category
                    br
                    span.tenloai(id="loai"+item._id)=item.name
                    br
                    each p in allProduct
                        if (item.name === p.typeProduct)
                            .sanpham.p-1.bg-white
                                .row
                                    .col-md-2.img
                                        img(src="/images/"+p.image, alt="")
                                    .col-md-10
                                        span.tensp=p.name
                                        br
                                        if (p.sale.hasSale !== false)
                                            span
                                                -let x =" đ"
                                                del=p.price+x
                                            br
                                            span=p.price
                                        else
                                            span=p.price
                                        i.fal.fa-plus-circle.add-cart
    .dialog
        .sanpham
            .img
            .mota
        .size
            p Size
        .more
            span Số lượng
            br
            .footerr.d-flex
                .quanlity.d-flex
                .btn-add-cart